html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -----------------------------NAVIGATION----------------------------*/
#nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 13vh;
  position: fixed;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 10;
}

.nav_btn {
  width: 40px;
  height: 40px;
}

.nav_btn span {
  height: 2.6px;
  width: 30px;
  margin-bottom: 9.5px;
  background-color: black;
  display: block;
  position: relative;
  top: 30%;
}

.nav_logo h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 2.9em;
}

.nav_shop i {
  position: relative;
  top: 25%;
  font-size: 1.4em;
}

.nav_overlay {
  display: none;
}

/* -----------------------------HEADER----------------------------*/
#header {
  background: url(img/header-background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 110vh;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 30%;
  background-color: rgba(1, 1, 1, 0.6);
}

.header_logo {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 6em;
  color: rgba(237, 161, 73, 0.8);
  text-align: center;
}

.header_logo-two {
  color: #f5f5f5;
  font-size: 2.5em;
}

.header_btn {
  padding: 16px 42px;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: rgba(237, 161, 73, 0.8);
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  top: 35%;
  left: 25%;
  display: block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  overflow: hidden;
}

.header_btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: width 0.3s ease, height 0.3s ease;
  transition: width 0.3s ease, height 0.3s ease;
}

.header_btn:focus, .header_btn:hover {
  background: #a26d32;
}

.header_btn:active:after {
  width: 200px;
  height: 200px;
}

/* -----------------------------ABOUT----------------------------*/
#about {
  background-color: #f5f5f5;
  height: 100vh;
}

.about_container-img {
  text-align: center;
  position: relative;
}

.about_img {
  width: 200px;
}

.about_img-one {
  position: relative;
  margin-top: 200px;
  z-index: 3;
}

.about_img-two {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 2;
}

.about_img-three {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
}

/* -----------------------------ABOUT----------------------------*/
/*# sourceMappingURL=main.css.map */