//---------------------------------------VARIABLES
$header-main: rgba(237, 161, 73, 0.8);
$nav: #f5f5f5;
$about-main: #fbf6f0;

//--------------------------------------- RESET
html {
  box-sizing: border-box;
  font-size: 16px;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main_color {
  background-color: $about-main;
}

.margin-top {
  padding-top: 90px;
}

.margin-bottom--large {
  padding-bottom: 80px !important;
}

.margin-bottom {
  padding-bottom: 30px !important;
}

.center {
  text-align: center !important;
}

.bold-white {
  font-weight: bolder;
}

/* -----------------------------NAVIGATION----------------------------*/
#nav {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 13vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 1s ease;
}

.forward {
  z-index: 1;
}


.nav_btn {
  transition: 0.1s transform linear;
  position: relative;
  background: 0;
  float: left;
  width: 3rem;
  outline: 0;
  padding: 0;
  border: 0;
}


.bar {

  &,
  &::before,
  &::after {
    transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
    position: absolute;
    background: $nav;
    margin: auto;
    width: 100%;
    height: 0.2rem;
    content: '';
    top: 50%;
    left: 0;
  }

  &::before {
    top: -1.2rem;
  }

  &::after {
    top: 1.2rem;
  }

  &::before,
  &::after {
    transform: rotate(0deg);
  }

  .active & {
    background: 0;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before,
    &::after {
      top: 0;
    }

    &,
    &::before,
    &::after {
      transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
    }
  }
}


.nav_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  transform: translateX(-900px);
  transition: transform 0.6s cubic-bezier(.56, .1, .34, .91);
  padding-top: 12rem;

  .menu-open & {
    transform: translateX(0);
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;

    li {

      font-size: 1.8rem;
      line-height: 5em;
      text-align: center;

      &:hover {
        background: black;
        cursor: pointer;
      }

      a {
        color: $nav;
        text-decoration: none;
        font-family: "Inria Serif", serif;
        text-transform: uppercase;
        letter-spacing: 12px;

      }

    }
  }
}



.nav_logo {
  z-index: 1000;

  h1 {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 2.9em;
    color: $nav;
    cursor: pointer;
    transition: all 1s ease;


  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.nav_shop {
  transition: all 1s ease;


  .shop_btn {
    color: $nav;
    font-size: 1.2em;
    background: none;
    border: none;
  }

  i {
    margin-top: 10px;
    font-size: 1.8em;
    color: $nav;
    transition: all 1s ease;
  }

}

.nav_overlay-shop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  transform: translateX(900px);
  transition: transform 0.6s cubic-bezier(.56, .1, .34, .91);
  padding-top: 10rem;

  .shop-open & {
    transform: translateX(0);
  }

  .shop_container-top {
    margin-bottom: 10em;
    position: relative;

    .ex {
      button {
        color: $nav;
        position: absolute;
        top: -100%;
        right: 8%;
        font-size: 2.8em;
        border: 0;
        background: 0;
      }
    }

    h1 {
      color: white;
      text-align: center;
      padding-bottom: 2em;
      font-family: "Inria Serif", serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 1.1em;
    }

  }

  .shop_container-bottom {
    .price {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      border-top: 3px solid $header-main;
      padding: 10px 0 40px 0;
      letter-spacing: 3px;

      p {
        font-size: 1.3em;
      }
    }

    .cart-options {
      display: flex;
      justify-content: space-around;
      padding-top: 3em;


      button {
        border: 0;
        background: 0;
        font-size: 1.2em;
        border-bottom: 3px solid $header-main;
        padding-bottom: 10px;
        letter-spacing: 3px;
      }
    }
  }



  p {
    color: white;
  }

  button {
    color: white;
  }


}


/* -----------------------------HEADER----------------------------*/
#header {
  background: url(img/header-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 110vh;
  position: relative;
}

.header_container {
  position: relative;
  top: 60%;
  left: 35%;
  width: 220px;
  transition: 1s all ease;
}

.header_logo {
  font-family: "Dancing Script", cursive;
  font-size: 4em;
  color: $header-main;
  text-align: center;
  transition: all 1s ease;
}

.header_logo-two {
  color: $nav;
  font-size: 1.5em;
  font-family: "Inria Serif", serif;
  text-transform: uppercase;
  text-align: center;
  transition: all 1s ease;
}

.main_btn {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: $header-main;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
  display: block;
  transition: background-color 0.6s ease;
  overflow: hidden;
  margin-top: 25px;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }

  &:focus,
  &:hover {
    background: darken(#bd803a, 7%);
  }

  &:active {
    &:after {
      width: 200px;
      height: 200px;
    }
  }
}


/* -----------------------------ABOUT----------------------------*/
#about {
  background-color: $nav;
  height: 100%;
}

.about_container-img {
  text-align: center;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.about_img {
  width: 200px;
}

.about_img-one {
  position: relative;
  margin: 200px 0 80px 0;
  z-index: 3;
}

.about_img-two {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 2;
}

.about_img-three {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
}

.about_container-word {
  padding-top: 60px;

  h1 {
    text-align: center;
    color: $header-main;
    font-size: 3em;
    font-family: "Dancing Script", cursive;
  }

  h2 {
    text-align: center;
    font-size: 1.6em;
    font-family: "Inria Serif", serif;
    text-transform: uppercase;
    color: #7c857e;
  }

  h3 {
    text-align: center;
    color: $header-main;
    font-size: 3em;
    font-weight: lighter;
    font-family: "Dancing Script", cursive;
  }

  p {
    margin: 50px 50px 50px 70px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    color: #353936;
  }
}

/* -----------------------------ABOUT----------------------------*/
/* -----------------------------EXPERIENCE----------------------------*/
#experience {
  height: 100vh;
  background: url(img/experience.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.experience_container-word {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 1s all ease;


  h1 {
    text-align: center;
    color: $header-main;
    font-size: 3em;
    font-family: "Dancing Script", cursive;
  }

  h2 {
    text-align: center;
    font-size: 1.6em;
    font-family: "Inria Serif", serif;
    text-transform: uppercase;
    color: #7c857e;
  }

  h3 {
    text-align: center;
    color: $header-main;
    font-size: 3em;
    font-weight: lighter;
    font-family: "Dancing Script", cursive;
  }
}

/* -----------------------------EXPERIENCE----------------------------*/
/* -----------------------------MENU----------------------------*/
.menu_container {
  margin-top: 50px;
  background-color: $nav;
}



.menu_container-word {
  padding-top: 60px;

  h1 {
    text-align: center;
    color: $header-main;
    font-size: 3em;
    font-family: "Dancing Script", cursive;
  }

  h2 {
    text-align: center;
    font-size: 1.6em;
    font-family: "Inria Serif", serif;
    text-transform: uppercase;
    color: #7c857e;
  }

  h3 {
    text-align: center;
    color: $header-main;
    font-size: 3em;
    font-weight: lighter;
    font-family: "Dancing Script", cursive;
  }

  p {
    margin: 50px 50px 50px 70px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    color: #353936;
  }
}

.menu_container-sub {
  background-color: $nav;
  position: relative;
  padding-bottom: 50px;

  h1 {
    position: relative;
    text-align: center;
    font-size: 7em;
    font-family: "Dancing Script", cursive;
    color: rgba(255, 101, 101, 0.1);
  }

  h2 {
    text-align: center;
    font-family: "Inria Serif", serif;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    color: $header-main;
    font-size: 3em;
    font-weight: lighter;
    font-family: "Dancing Script", cursive;
  }

  .btn_margin {
    margin-bottom: 50px;
  }
}

.bold {
  font-weight: bolder;
  font-size: 1.2em;
  color: #000 !important;
}

.first {
  margin-top: 120px !important;
}

.menu_container-sub--item {
  position: relative;
  display: flex;
  margin: 60px 40px;

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: black;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 8px;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 90px;
    margin-right: 25px;
  }

  p {
    padding-bottom: 8px;
    color: #7c857e;
  }
}

/* -----------------------------MENU----------------------------*/
/* -----------------------------RES----------------------------*/

#res {
  height: 100vh;
  background: url(img/res.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: $header-main 10px solid;
  display: flex;
  justify-content: center;
  transition: 1s ease all;


  .res_overlay {
    background-color: rgba(1, 1, 1, 0.6);
    height: 99vh;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1s ease all;

  }

  .res_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 1s ease all;


    h1 {
      text-align: center;
      color: $header-main;
      font-size: 3em;
      font-family: "Dancing Script", cursive;
    }

    h2 {
      text-align: center;
      font-size: 1.6em;
      font-family: "Inria Serif", serif;
      text-transform: uppercase;
      color: #7c857e;
    }

    h3 {
      text-align: center;
      color: $header-main;
      font-size: 3em;
      font-weight: lighter;
      font-family: "Dancing Script", cursive;
    }

    .res_btn {
      top: 0;
      margin: 25px 0;
    }
  }



}

/* -----------------------------RES----------------------------*/
/* -----------------------------CONTACT----------------------------*/
#contact {
  background-color: #282828;
  color: $nav;


  .contact_container {
    transition: 1s ease all;

    padding: 0 25px 100px 25px;

  }

  h2 {
    font-family: "Inria Serif"bold;
    padding: 90px 0 30px 0;
    letter-spacing: 2px;
  }

  h3 {
    padding: 5px 0;
  }

  a {
    margin-top: 30px;
    color: #f5f5f5;
    font-size: 1.2em;
    letter-spacing: 2px;
  }

  .email_container {
    max-width: 600px;
    margin: 0 auto;
    transition: 1s ease all;
  }

  .input {
    background: transparent;
    border: 1px solid $nav;
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 2px;
    height: 8vh;
    padding-left: 30px;
    color: $nav;
  }

  .submit {
    text-align: right;
    display: block;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 100px;
  }
}

/* -----------------------------CONTACT----------------------------*/

/* -----------------------------MEDIA QUERIES----------------------------*/
@media only screen and (min-width: 400px) {
  .header_container {
    left: 40%;
  }

}

@media only screen and (min-width: 550px) {
  .header_container {
    left: 50%;
  }

}

@media only screen and (min-width: 800px) {

  .nav_overlay {
    transform: translateX(-1500px);
  }

  .nav_overlay-shop {
    transform: translateX(1500px);
  }

  .header_container {
    left: 60%;
  }

}

@media only screen and (min-width: 1000px) {
  #nav {
    justify-content: space-between;
    transition: all 1s ease;
    padding: 0 75px;

  }

  .nav_logo {
    h1 {
      font-size: 4em;
      transition: all 1s ease;
    }
  }

  .shop_btn {
    i {
      font-size: 2em;
      padding-top: 6px;
      transition: all 1s ease;
    }
  }

  .header_container {
    left: 68%;
    top: 50%;
    width: 300px;
    height: 315px;
  }

  .header_logo {
    font-size: 9em;
    transition: all 1s ease;
  }

  #about {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .header_logo-two {
    transition: all 1s ease;
  }

  .about_container {
    display: flex;
  }

  .about_container-word {
    flex: 2;
  }

  .about_container-img {
    flex: 2;
    max-width: 1000px;
  }

  .about_img {
    width: 270px;
  }

  .experience_container-word {
    font-size: 1.6em;
    transition: 1s ease all;
  }

  #menu {
    display: flex;
  }

  .menu_container-top {
    flex: 2;
  }

  .menu_container-bottom {
    flex: 2;
  }

  #res {
    height: 100vh;
    transition: 1s ease all;


    .res_overlay {
      height: 99vh;
      transition: 1s ease all;


      .res_container {
        font-size: 1.6em;
        transition: 1s ease all;
      }
    }
  }

  .large_contact-container {
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1200px) {
  .nav_overlay {
    transform: translateX(-2500px);
  }

  .nav_overlay-shop {
    transform: translateX(2500px);
  }

}